# data
data/

# report
report/

# accounts
doc/accounts.txt

# conceil password
uploads/.password.txt
src/ENApassword.sh

# fasta directories
uploads/fasta
uploads/fastq

# assembly directories
uploads/assembly
uploads/chrList
uploads/unlocList

# deprecated scripts
src/deprecated
